Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2019-12, with the labels that each got.

#29 Update advertise and whitepaper links
  sites/contractingbusiness.com/config/navigation.js
Labels: 🌐 site: contractingbusiness.com

#30 Remove cookie policy from nav bar
  sites/asumag.com/config/navigation.js
  sites/contractingbusiness.com/config/navigation.js
  sites/contractormag.com/config/navigation.js
  sites/ecmweb.com/config/navigation.js
  sites/electricalmarketing.com/config/navigation.js
  sites/ewweb.com/config/navigation.js
  sites/hpac.com/config/navigation.js
  sites/rermag.com/config/navigation.js
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: asumag.com, 🌐 site: contractingbusiness.com, 🌐 site: contractormag.com, 🌐 site: ecmweb.com, 🌐 site: electricalmarketing.com, 🌐 site: ewweb.com, 🌐 site: hpac.com, 🌐 site: rermag.com, 🌐 site: tdworld.com

#31 Update privacy label to Privacy & Cookie Policy
  sites/americanmachinist.com/config/navigation.js
  sites/asumag.com/config/navigation.js
  sites/bulktransporter.com/config/navigation.js
  sites/contractingbusiness.com/config/navigation.js
  sites/contractormag.com/config/navigation.js
  sites/ecmweb.com/config/navigation.js
  sites/ehstoday.com/config/navigation.js
  sites/electricalmarketing.com/config/navigation.js
  sites/electronicdesign.com/config/navigation.js
  sites/ewweb.com/config/navigation.js
  sites/fleetowner.com/config/navigation.js
  sites/forgingmagazine.com/config/navigation.js
  sites/foundrymag.com/config/navigation.js
  sites/hpac.com/config/navigation.js
  sites/hydraulicspneumatics.com/config/navigation.js
  sites/industryweek.com/config/navigation.js
  sites/machinedesign.com/config/navigation.js
  sites/mhlnews.com/config/navigation.js
  sites/mwrf.com/config/navigation.js
  sites/newequipment.com/config/navigation.js
  sites/powerelectronics.com/config/navigation.js
  sites/refrigeratedtransporter.com/config/navigation.js
  sites/rermag.com/config/navigation.js
  sites/sourcetoday.com/config/navigation.js
  sites/tdworld.com/config/navigation.js
  sites/trailer-bodybuilders.com/config/navigation.js
  sites/trucker.com/config/navigation.js
  sites/truckfleetmro.com/config/navigation.js
Labels: 🌐 site: ALL

#36 Fix Executive Insights Board menu link
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: tdworld.com

#35 Ensure dynamic page routes support “deep” paths
  sites/americanmachinist.com/server/routes/dynamic-page.js
  sites/asumag.com/server/routes/dynamic-page.js
  sites/bulktransporter.com/server/routes/dynamic-page.js
  sites/contractingbusiness.com/server/routes/dynamic-page.js
  sites/contractormag.com/server/routes/dynamic-page.js
  sites/ecmweb.com/server/routes/dynamic-page.js
  sites/ehstoday.com/server/routes/dynamic-page.js
  sites/electricalmarketing.com/server/routes/dynamic-page.js
  sites/electronicdesign.com/server/routes/dynamic-page.js
  sites/ewweb.com/server/routes/dynamic-page.js
  sites/fleetowner.com/server/routes/dynamic-page.js
  sites/forgingmagazine.com/server/routes/dynamic-page.js
  sites/foundrymag.com/server/routes/dynamic-page.js
  sites/hpac.com/server/routes/dynamic-page.js
  sites/hydraulicspneumatics.com/server/routes/dynamic-page.js
  sites/industryweek.com/server/routes/dynamic-page.js
  sites/machinedesign.com/server/routes/dynamic-page.js
  sites/mhlnews.com/server/routes/dynamic-page.js
  sites/mwrf.com/server/routes/dynamic-page.js
  sites/newequipment.com/server/routes/dynamic-page.js
  sites/powerelectronics.com/server/routes/dynamic-page.js
  sites/refrigeratedtransporter.com/server/routes/dynamic-page.js
  sites/rermag.com/server/routes/dynamic-page.js
  sites/sourcetoday.com/server/routes/dynamic-page.js
  sites/tdworld.com/server/routes/dynamic-page.js
  sites/trailer-bodybuilders.com/server/routes/dynamic-page.js
  sites/trucker.com/server/routes/dynamic-page.js
  sites/truckfleetmro.com/server/routes/dynamic-page.js
Labels: 🌐 site: ALL

#34 Update Industry Experts and Advisors menu link
  sites/contractormag.com/config/navigation.js
Labels: 🌐 site: contractormag.com

#33 Update current issue and industry experts menu links
  sites/ewweb.com/config/navigation.js
Labels: 🌐 site: ewweb.com

#40 Create Media Gallery slideshow pages
  packages/informa-gam/package.json
  packages/lazarus-shared/browser/.eslintrc.js
  packages/lazarus-shared/browser/gallery-slideshow/index.vue
  packages/lazarus-shared/browser/gallery-slideshow/slide.vue
  packages/lazarus-shared/browser/index.js
  packages/lazarus-shared/components/gallery-slideshow.marko
  packages/lazarus-shared/components/marko.json
  packages/lazarus-shared/components/nodes/components/slideshow-button.marko
  packages/lazarus-shared/components/nodes/content-page-card.marko
  packages/lazarus-shared/components/nodes/content-page.marko
  packages/lazarus-shared/graphql/fragments/content-page.js
  packages/lazarus-shared/graphql/fragments/content-slideshow-page.js
  packages/lazarus-shared/package.json
  packages/lazarus-shared/templates/content/slideshow.marko
  packages/lazarus-shared/theme.scss
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/industryweek.com/server/routes/content.js
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#41 Fix Executive Insights Board href misspelling
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: tdworld.com

#42 Set slideshow routes to all sites; fix image layout
  packages/lazarus-shared/components/nodes/content-page-card.marko
  packages/lazarus-shared/graphql/fragments/content-slideshow-page.js
  packages/lazarus-shared/theme.scss
  sites/americanmachinist.com/server/routes/content.js
  sites/asumag.com/server/routes/content.js
  sites/bulktransporter.com/server/routes/content.js
  sites/contractingbusiness.com/server/routes/content.js
  sites/contractormag.com/server/routes/content.js
  sites/ecmweb.com/server/routes/content.js
  sites/ehstoday.com/server/routes/content.js
  sites/electricalmarketing.com/server/routes/content.js
  sites/electronicdesign.com/server/routes/content.js
  sites/ewweb.com/server/routes/content.js
  sites/fleetowner.com/server/routes/content.js
  sites/forgingmagazine.com/server/routes/content.js
  sites/foundrymag.com/server/routes/content.js
  sites/hpac.com/server/routes/content.js
  sites/hydraulicspneumatics.com/server/routes/content.js
  sites/machinedesign.com/server/routes/content.js
  sites/mhlnews.com/server/routes/content.js
  sites/mwrf.com/server/routes/content.js
  sites/newequipment.com/server/routes/content.js
  sites/powerelectronics.com/server/routes/content.js
  sites/refrigeratedtransporter.com/server/routes/content.js
  sites/rermag.com/server/routes/content.js
  sites/sourcetoday.com/server/routes/content.js
  sites/tdworld.com/server/routes/content.js
  sites/trailer-bodybuilders.com/server/routes/content.js
  sites/trucker.com/server/routes/content.js
  sites/truckfleetmro.com/server/routes/content.js
Labels: 🌐 site: ALL

#43 Fix search layout to be left-aligned
  packages/lazarus-shared/templates/search.marko
Labels: 🌐 site: ALL

#45 Update theme to v1.2.0
  packages/lazarus-shared/package.json
  packages/lazarus-shared/theme.scss
  yarn.lock
Labels: 🌐 site: ALL

#46 Replace multiple underscores are replaced last
  services/gam/graphql/utils/clean-path-value.js
Labels: service: gam

#47 Ensure embedded Eloqua forms clear surrounding content
  packages/lazarus-shared/theme.scss
Labels: 🌐 site: ALL

#53 Add social sharing
  packages/lazarus-shared/browser/index.js
  packages/lazarus-shared/components/nodes/content-page.marko
  packages/lazarus-shared/package.json
  packages/lazarus-shared/theme.scss
  yarn.lock
Labels: 🌐 site: ALL

#55 Handle embedded Eloqua forms on dynamic pages
  packages/lazarus-shared/templates/dynamic-page/index.marko
Labels: 🌐 site: ALL

#57 Fix homepage section aliases
  sites/mwrf.com/config/site.js
  sites/sourcetoday.com/config/site.js
Labels: 🌐 site: mwrf.com, 🌐 site: sourcetoday.com

#62 Update GTM codes
  sites/americanmachinist.com/config/site.js
  sites/machinedesign.com/config/site.js
Labels: site: americanmachinist.com, site: machinedesign.com
