Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2020-02, with the labels that each got.

#78 Add custom company & contact page load more blocks
  packages/lazarus-shared/templates/content/index.marko
Labels: 🌐 site: ALL

#80 Add download button to whitepaper pages
  packages/lazarus-shared/components/elements/content-body.marko
Labels: 🌐 site: ALL

#81 Upgrade @base-cms dependencies to 1.17.0
  packages/informa-gam/package.json
  packages/lazarus-shared/package.json
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#82 Add "Wildfire" and "Vegetation Management" to site menu
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: tdworld.com

#83 Update "Contribute" link in site menu
  sites/electronicdesign.com/config/navigation.js
Labels: 🌐 site: electronicdesign.com

#84 Upgrade @base-cms dependencies to 1.19.0
  packages/lazarus-shared/package.json
  yarn.lock
Labels: 🌐 site: ALL

#85 Upgrade @base-cms dependencies to 1.19.1
  packages/informa-gam/package.json
  packages/lazarus-shared/package.json
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#86 Add Job Center link to site menu
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: tdworld.com

#87 Update advertise links for Informa brands
  sites/americanmachinist.com/config/navigation.js
  sites/asumag.com/config/navigation.js
  sites/bulktransporter.com/config/navigation.js
  sites/contractingbusiness.com/config/navigation.js
  sites/contractormag.com/config/navigation.js
  sites/ecmweb.com/config/navigation.js
  sites/ehstoday.com/config/navigation.js
  sites/electronicdesign.com/config/navigation.js
  sites/fleetowner.com/config/navigation.js
  sites/forgingmagazine.com/config/navigation.js
  sites/foundrymag.com/config/navigation.js
  sites/hpac.com/config/navigation.js
  sites/hydraulicspneumatics.com/config/navigation.js
  sites/industryweek.com/config/navigation.js
  sites/machinedesign.com/config/navigation.js
  sites/mhlnews.com/config/navigation.js
  sites/mwrf.com/config/navigation.js
  sites/newequipment.com/config/navigation.js
  sites/refrigeratedtransporter.com/config/navigation.js
  sites/rermag.com/config/navigation.js
  sites/sourcetoday.com/config/navigation.js
  sites/tdworld.com/config/navigation.js
  sites/trailer-bodybuilders.com/config/navigation.js
  sites/trucker.com/config/navigation.js
Labels: 🌐 site: ALL

#76 Enable IdentityX for all informa sites
  sites/americanmachinist.com/config/site.js
  sites/asumag.com/config/site.js
  sites/bulktransporter.com/config/site.js
  sites/contractingbusiness.com/config/site.js
  sites/contractormag.com/config/site.js
  sites/ecmweb.com/config/site.js
  sites/ehstoday.com/config/site.js
  sites/electronicdesign.com/config/site.js
  sites/ewweb.com/config/site.js
  sites/fleetowner.com/config/site.js
  sites/forgingmagazine.com/config/site.js
  sites/foundrymag.com/config/site.js
  sites/hpac.com/config/site.js
  sites/hydraulicspneumatics.com/config/site.js
  sites/industryweek.com/config/site.js
  sites/machinedesign.com/config/site.js
  sites/mhlnews.com/config/site.js
  sites/mwrf.com/config/site.js
  sites/newequipment.com/config/site.js
  sites/powerelectronics.com/config/site.js
  sites/refrigeratedtransporter.com/config/site.js
  sites/rermag.com/config/site.js
  sites/sourcetoday.com/config/site.js
  sites/trailer-bodybuilders.com/config/site.js
  sites/trucker.com/config/site.js
  sites/truckfleetmro.com/config/site.js
Labels: 🌐 site: ALL

#89 Change page alias lookup to support all characters
  packages/lazarus-shared/routes/dynamic-page.js
Labels: 🌐 site: ALL

#90 Ensure fluid ad unit sizes are handled globally
  packages/informa-gam/components/adunit.marko
  packages/informa-gam/components/prestitial.marko
  packages/informa-gam/middleware.js
Labels: 🌐 site: ALL

#91 Revert "Enable IdentityX for all informa sites"
  sites/americanmachinist.com/config/site.js
  sites/asumag.com/config/site.js
  sites/bulktransporter.com/config/site.js
  sites/contractingbusiness.com/config/site.js
  sites/contractormag.com/config/site.js
  sites/ecmweb.com/config/site.js
  sites/ehstoday.com/config/site.js
  sites/electronicdesign.com/config/site.js
  sites/ewweb.com/config/site.js
  sites/fleetowner.com/config/site.js
  sites/forgingmagazine.com/config/site.js
  sites/foundrymag.com/config/site.js
  sites/hpac.com/config/site.js
  sites/hydraulicspneumatics.com/config/site.js
  sites/industryweek.com/config/site.js
  sites/machinedesign.com/config/site.js
  sites/mhlnews.com/config/site.js
  sites/mwrf.com/config/site.js
  sites/newequipment.com/config/site.js
  sites/powerelectronics.com/config/site.js
  sites/refrigeratedtransporter.com/config/site.js
  sites/rermag.com/config/site.js
  sites/sourcetoday.com/config/site.js
  sites/trailer-bodybuilders.com/config/site.js
  sites/trucker.com/config/site.js
  sites/truckfleetmro.com/config/site.js
Labels: 🌐 site: ALL

#92 Increment the `nativekey_13_[n]` inline ads on content pages
  packages/informa-gam/components/direct-inject-adunit.marko
  packages/informa-gam/components/marko.json
  packages/lazarus-shared/components/elements/content-body.marko
  packages/lazarus-shared/components/elements/marko.json
  packages/lazarus-shared/components/flows/content-page-load-more.marko
  packages/lazarus-shared/components/nodes/content-page.marko
  packages/lazarus-shared/components/nodes/marko.json
Labels: 🌐 site: ALL

#94 Disable GraphQL cache when requesting ad units
  packages/informa-gam/middleware.js
Labels: 🌐 site: ALL

#95 Add GTM to content print pages
  packages/lazarus-shared/templates/content/print.marko
Labels: 🌐 site: ALL

#96 Fix Webcasts nav label and Contribue href
  sites/mwrf.com/config/navigation.js
Labels: 🌐 site: mwrf.com

#97 Enable IdentityX for all Informa sites
  sites/americanmachinist.com/config/site.js
  sites/asumag.com/config/site.js
  sites/bulktransporter.com/config/site.js
  sites/contractingbusiness.com/config/site.js
  sites/contractormag.com/config/site.js
  sites/ecmweb.com/config/site.js
  sites/ehstoday.com/config/site.js
  sites/electronicdesign.com/config/site.js
  sites/ewweb.com/config/site.js
  sites/fleetowner.com/config/site.js
  sites/forgingmagazine.com/config/site.js
  sites/foundrymag.com/config/site.js
  sites/hpac.com/config/site.js
  sites/hydraulicspneumatics.com/config/site.js
  sites/industryweek.com/config/site.js
  sites/machinedesign.com/config/site.js
  sites/mhlnews.com/config/site.js
  sites/mwrf.com/config/site.js
  sites/newequipment.com/config/site.js
  sites/powerelectronics.com/config/site.js
  sites/refrigeratedtransporter.com/config/site.js
  sites/rermag.com/config/site.js
  sites/sourcetoday.com/config/site.js
  sites/trailer-bodybuilders.com/config/site.js
  sites/trucker.com/config/site.js
  sites/truckfleetmro.com/config/site.js
Labels: 🌐 site: ALL

#98 Ensure new relic is the first import
  services/gam/index.js
Labels: service: gam

#99 Fix spelling of “Plant Operations”
  sites/newequipment.com/config/site.js
Labels: 🌐 site: newequipment.com

#100 Update About Us / Contact Us links
  sites/fleetowner.com/config/navigation.js
  sites/trucker.com/config/navigation.js
Labels: site: fleetowner.com, site: trucker.com

#104 Fix incorrect program A/B aliases
  packages/lazarus-shared/templates/index.marko
Labels: 🌐 site: ALL

#102 Update advertise, print dragon form, and marketing solutions URLs
  sites/fleetowner.com/config/dragon-forms.js
  sites/fleetowner.com/config/navigation.js
Labels: 🌐 site: fleetowner.com

#105 Upgrade @base-cms/marko-web-identity-x to 1.21.6
  packages/lazarus-shared/package.json
  yarn.lock
Labels: 🌐 site: ALL

#108 Add “California Do Not Sell” link to all footers
  sites/americanmachinist.com/config/navigation.js
  sites/asumag.com/config/navigation.js
  sites/bulktransporter.com/config/navigation.js
  sites/contractingbusiness.com/config/navigation.js
  sites/contractormag.com/config/navigation.js
  sites/ecmweb.com/config/navigation.js
  sites/ehstoday.com/config/navigation.js
  sites/electricalmarketing.com/config/navigation.js
  sites/electronicdesign.com/config/navigation.js
  sites/ewweb.com/config/navigation.js
  sites/fleetowner.com/config/navigation.js
  sites/forgingmagazine.com/config/navigation.js
  sites/foundrymag.com/config/navigation.js
  sites/hpac.com/config/navigation.js
  sites/hydraulicspneumatics.com/config/navigation.js
  sites/industryweek.com/config/navigation.js
  sites/machinedesign.com/config/navigation.js
  sites/mhlnews.com/config/navigation.js
  sites/mwrf.com/config/navigation.js
  sites/newequipment.com/config/navigation.js
  sites/powerelectronics.com/config/navigation.js
  sites/refrigeratedtransporter.com/config/navigation.js
  sites/rermag.com/config/navigation.js
  sites/sourcetoday.com/config/navigation.js
  sites/tdworld.com/config/navigation.js
  sites/trailer-bodybuilders.com/config/navigation.js
  sites/trucker.com/config/navigation.js
  sites/truckfleetmro.com/config/navigation.js
Labels: 🌐 site: ALL
