Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2020-05, with the labels that each got.

#142 Add BlueConic meta tags based off content page
  packages/lazarus-shared/components/blueconic/marko.json
  packages/lazarus-shared/components/blueconic/metatag.marko
  packages/lazarus-shared/components/marko.json
  packages/lazarus-shared/templates/content/full-width.marko
  packages/lazarus-shared/templates/content/index.marko
  sites/electronicdesign.com/config/site.js
Labels: 🌐 site: electronicdesign.com

#147 Upgrade @base-cms dependencies to 1.27.4
  packages/informa-gam/package.json
  packages/lazarus-shared/package.json
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#148 Update advertise link
  sites/fleetowner.com/config/navigation.js
Labels: 🌐 site: fleetowner.com

#149 Add magazine signup Dragon Form
  sites/refrigeratedtransporter.com/config/dragon-forms.js
Labels: 🌐 site: refrigeratedtransporter.com

#150 Add "What's In Print" and "Magazine Archives" to site menu
  sites/bulktransporter.com/config/navigation.js
  sites/trailer-bodybuilders.com/config/navigation.js
Labels: 🌐 site: bulktransporter.com, 🌐 site: trailer-bodybuilders.com

#151 Upgrade @base-cms dependencies to 1.28.0
  packages/lazarus-shared/package.json
  yarn.lock
Labels: 🌐 site: ALL

#152 Add support for comments
  packages/lazarus-shared/components/elements/content-body.marko
  packages/lazarus-shared/components/elements/content-comments.marko
  packages/lazarus-shared/components/elements/marko.json
  packages/lazarus-shared/identity-x.js
  packages/lazarus-shared/routes/index.js
  packages/lazarus-shared/scss/_identity-x.scss
  packages/lazarus-shared/start-server.js
  packages/lazarus-shared/theme.scss
  sites/industryweek.com/config/site.js
Labels: 🌐 site: ALL, 🌐 site: industryweek.com

#153 Enable registration/login/gating
  sites/electricalmarketing.com/config/site.js
Labels: 🌐 site: electricalmarketing.com

#154 Only prompt user for input when registration is required
  packages/lazarus-shared/components/nodes/content-page.marko
Labels: 🌐 site: ALL

#155 Add IdeaXchange and update FleetOwner Magazine in site menu
  sites/fleetowner.com/config/navigation.js
Labels: 🌐 site: fleetowner.com

#156 Update 'Manufacturing & Technology' to 'Manufacturing & Technology Event'
  sites/americanmachinist.com/config/navigation.js
  sites/ehstoday.com/config/navigation.js
  sites/industryweek.com/config/navigation.js
  sites/machinedesign.com/config/navigation.js
  sites/mhlnews.com/config/navigation.js
  sites/newequipment.com/config/navigation.js
Labels: 🌐 site: americanmachinist.com, 🌐 site: ehstoday.com, 🌐 site: industryweek.com, 🌐 site: machinedesign.com, 🌐 site: mhlnews.com, 🌐 site: newequipment.com

#157 Comment out BG nav item until reskin is updated
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: tdworld.com

#158 Add Podcasts to secondary nav
  sites/ewweb.com/config/navigation.js
Labels: 🌐 site: ewweb.com
