Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2020-01, with the labels that each got.

#65 Ensure additional special chars are replaced
  services/gam/graphql/utils/clean-path-value.js
Labels: service: gam

#66 CS3937-MHL: remove magazine link from nav
  sites/mhlnews.com/config/navigation.js
Labels: 🌐 site: mhlnews.com

#67 Replace arrow function with standard function
  packages/informa-gam/components/components/prestitial-script.marko
Labels: 🌐 site: ALL

#69 Add “Contributors’ Guidelines” to menu for IW
  sites/industryweek.com/config/navigation.js
Labels: 🌐 site: industryweek.com

#68 Create directory landing page with category tree navigation
  packages/lazarus-shared/browser/directory-facets/facet.vue
  packages/lazarus-shared/browser/directory-facets/graphql/directory-sections.js
  packages/lazarus-shared/browser/directory-facets/icons/_wrapper.vue
  packages/lazarus-shared/browser/directory-facets/icons/add-circle-outline.vue
  packages/lazarus-shared/browser/directory-facets/icons/filter-none.vue
  packages/lazarus-shared/browser/directory-facets/icons/remove-circle-outline.vue
  packages/lazarus-shared/browser/directory-facets/index.vue
  packages/lazarus-shared/browser/directory-facets/link.vue
  packages/lazarus-shared/browser/directory-facets/list.vue
  packages/lazarus-shared/browser/directory-facets/loading-spinner.vue
  packages/lazarus-shared/browser/directory-facets/toggle-button.vue
  packages/lazarus-shared/browser/directory-facets/utils/get-as-array.js
  packages/lazarus-shared/browser/directory-facets/utils/get-as-object.js
  packages/lazarus-shared/browser/directory-facets/utils/get-edge-nodes.js
  packages/lazarus-shared/browser/index.js
  packages/lazarus-shared/components/directory-facets.marko
  packages/lazarus-shared/components/flows/content-load-more.marko
  packages/lazarus-shared/components/marko.json
  packages/lazarus-shared/components/nodes/content-page-card.marko
  packages/lazarus-shared/graphql/fragments/directory-page.js
  packages/lazarus-shared/package.json
  packages/lazarus-shared/routes/website-section.js
  packages/lazarus-shared/scss/_directory-facets.scss
  packages/lazarus-shared/templates/website-section/directory.marko
  packages/lazarus-shared/theme.scss
Labels: 🌐 site: ALL

#70 Add custom directory routes
  sites/hydraulicspneumatics.com/index.js
  sites/hydraulicspneumatics.com/server/routes/index.js
Labels: 🌐 site: hydraulicspneumatics.com

#71 Update directory navigation links
  sites/americanmachinist.com/config/navigation.js
  sites/forgingmagazine.com/config/navigation.js
  sites/foundrymag.com/config/navigation.js
  sites/hpac.com/config/navigation.js
  sites/hydraulicspneumatics.com/config/navigation.js
  sites/mhlnews.com/config/navigation.js
  sites/rermag.com/config/navigation.js
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: americanmachinist.com, 🌐 site: forgingmagazine.com, 🌐 site: foundrymag.com, 🌐 site: hpac.com, 🌐 site: hydraulicspneumatics.com, 🌐 site: mhlnews.com, 🌐 site: rermag.com, 🌐 site: tdworld.com

#73 Enable IdentityX on T&D World
  sites/tdworld.com/config/site.js
Labels: 🌐 site: tdworld.com

#74 Remove Apps & Calculators from drop down menu
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: tdworld.com

#75 Remove Calculators from site menu
  sites/americanmachinist.com/config/navigation.js
Labels: 🌐 site: americanmachinist.com

#77 Set newsletter dragonform config
  sites/newequipment.com/config/dragon-forms.js
Labels: 🌐 site: newequipment.com

#79 Move additional directory aliases to shared routes
  packages/lazarus-shared/routes/website-section.js
  sites/hydraulicspneumatics.com/index.js
  sites/hydraulicspneumatics.com/server/routes/index.js
Labels: 🌐 site: hydraulicspneumatics.com
