Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2020-09, with the labels that each got.

#192 BlueConic: Allow promotions to load on-site, then redirect to external link client-side
  packages/informa-gam/package.json
  packages/lazarus-shared/blueconic.js
  packages/lazarus-shared/browser/blueconic/redirect.vue
  packages/lazarus-shared/browser/index.js
  packages/lazarus-shared/components/blueconic/marko.json
  packages/lazarus-shared/components/blueconic/redirect.marko
  packages/lazarus-shared/components/elements/content-body.marko
  packages/lazarus-shared/components/nodes/content-card.marko
  packages/lazarus-shared/components/nodes/content-list.marko
  packages/lazarus-shared/components/page-wrappers/content/default.marko
  packages/lazarus-shared/graphql/fragments/content-list.js
  packages/lazarus-shared/graphql/fragments/content-page.js
  packages/lazarus-shared/package.json
  packages/lazarus-shared/routes/content.js
  packages/leaders/package.json
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: 🌐 site: ALL, 🌐 site: electronicdesign.com

#193 Upgrade @base-cms dependencies to 1.36.3
  package.json
  packages/informa-gam/package.json
  packages/lazarus-shared/package.json
  packages/leaders/package.json
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#194 Update social media links
  sites/hydraulicspneumatics.com/config/site.js
  sites/machinedesign.com/config/site.js
Labels: 🌐 site: hydraulicspneumatics.com, 🌐 site: machinedesign.com

#196 Enable home page `Recommend` block.
  packages/lazarus-shared/templates/index.marko
  sites/industryweek.com/config/site.js
Labels: 🌐 site: ALL

#201 Corrected load-more config for magazine issue page
  packages/lazarus-shared/templates/magazine/issue.marko
Labels: 🌐 site: ALL

#202 fix featured video block on all sites
  packages/lazarus-shared/components/company-page/featured-videos.marko
Labels: 🌐 site: ALL

#203 Update homepage sections
  sites/electronicdesign.com/config/site.js
Labels: 🌐 site: electronicdesign.com

#204 update Jobs to Job Listings
  sites/rermag.com/config/navigation.js
Labels: 🌐 site: rermag.com

#205 Fix magazine landing page layout
  packages/lazarus-shared/scss/_magazine.scss
  packages/lazarus-shared/templates/magazine/index.marko
Labels: 🌐 site: ALL

#208 Lazarus Theme Updates
  packages/lazarus-shared/theme.scss
Labels: 🌐 site: ALL

#209 Update dependencies from base-cms 1.41 release
  package.json
  packages/informa-gam/package.json
  packages/informa-redirects/package.json
  packages/lazarus-shared/package.json
  packages/leaders/package.json
  packages/site-setup/package.json
  services/gam/package.json
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: 🌐 site: ALL
