Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2020-03, with the labels that each got.

#112 Update advertise links
  sites/fleetowner.com/config/navigation.js
Labels: 🌐 site: fleetowner.com

#114 Do not lazyload embedded images on print pages
  packages/informa-gam/package.json
  packages/lazarus-shared/package.json
  packages/lazarus-shared/templates/content/print.marko
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#115 Add whitepaper and webinar type to recent rail
  packages/lazarus-shared/components/blocks/global-left-rail.marko
Labels: 🌐 site: ALL

#117 Program content layout
  packages/lazarus-shared/components/nodes/content-page.marko
  packages/lazarus-shared/components/nodes/marko.json
  packages/lazarus-shared/components/page-wrappers/content/default.marko
  packages/lazarus-shared/components/page-wrappers/content/marko.json
  packages/lazarus-shared/components/page-wrappers/content/program.marko
  packages/lazarus-shared/components/page-wrappers/marko.json
  packages/lazarus-shared/graphql/fragments/content-page.js
  packages/lazarus-shared/templates/content/index.marko
  packages/lazarus-shared/theme.scss
Labels: 🌐 site: ALL

#120 Fix infinite scroll reference
  packages/lazarus-shared/components/page-wrappers/content/default.marko
  packages/lazarus-shared/templates/content/index.marko
Labels: bug, 🌐 site: ALL

#121 Electrical marketing gating
  packages/lazarus-shared/components/gating/content-gate.marko
  packages/lazarus-shared/components/nodes/content-page.marko
  packages/lazarus-shared/graphql/fragments/content-page.js
  sites/electricalmarketing.com/config/site.js
Labels: 🌐 site: ALL, 🌐 site: electricalmarketing.com

#118 Create ZMags digital edition route and page
  packages/lazarus-shared/routes/digital-edition.js
  packages/lazarus-shared/routes/index.js
  packages/lazarus-shared/templates/digital-edition/index.marko
  packages/lazarus-shared/theme.scss
Labels: 🌐 site: ALL

#122 disable reg on em
  sites/electricalmarketing.com/config/site.js
Labels: 🌐 site: electricalmarketing.com

#123 Upgrade @base-cms dependencies to 1.25.0
  packages/informa-gam/package.json
  packages/informa-redirects/package.json
  packages/lazarus-shared/package.json
  packages/site-setup/package.json
  services/gam/package.json
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#125 Add COVID-19 to menu navigation
  sites/fleetowner.com/config/navigation.js
  sites/trucker.com/config/navigation.js
Labels: site: trucker.com, 🌐 site: fleetowner.com

#126 Update newsletter dragonform config
  sites/fleetowner.com/config/dragon-forms.js
Labels: 🌐 site: fleetowner.com

#127 Add COVID-19 links to menu
  sites/asumag.com/config/navigation.js
  sites/contractingbusiness.com/config/navigation.js
  sites/contractormag.com/config/navigation.js
  sites/ecmweb.com/config/navigation.js
  sites/electronicdesign.com/config/navigation.js
  sites/ewweb.com/config/navigation.js
  sites/hpac.com/config/navigation.js
  sites/mwrf.com/config/navigation.js
Labels: 🌐 site: asumag.com, 🌐 site: contractingbusiness.com, 🌐 site: contractormag.com, 🌐 site: ecmweb.com, 🌐 site: electronicdesign.com, 🌐 site: ewweb.com, 🌐 site: hpac.com, 🌐 site: mwrf.com
