Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2020-10, with the labels that each got.

#210 Correct mobile layout of footer
  packages/lazarus-shared/theme.scss
Labels: 🌐 site: ALL

#212 Page-with-rail setup for website-section and content wrapper components
  packages/lazarus-shared/components/blocks/global-left-rail.marko
  packages/lazarus-shared/components/content-page-card.marko
  packages/lazarus-shared/components/marko.json
  packages/lazarus-shared/components/page-grid/col.marko
  packages/lazarus-shared/components/page-grid/index.marko
  packages/lazarus-shared/components/page-grid/marko.json
  packages/lazarus-shared/components/page-grid/right-col.marko
  packages/lazarus-shared/components/page-grid/top-row.marko
  packages/lazarus-shared/components/page-wrappers/content/default.marko
  packages/lazarus-shared/components/page-wrappers/website-section/default.marko
  packages/lazarus-shared/scss/_components.scss
  packages/lazarus-shared/scss/_skin.scss
  packages/lazarus-shared/scss/components/_ad-container.scss
  packages/lazarus-shared/scss/components/_breadcrumbs.scss
  packages/lazarus-shared/scss/components/_content-page-card.scss
  packages/lazarus-shared/scss/components/_flows.scss
  packages/lazarus-shared/scss/components/_load-more.scss
  packages/lazarus-shared/scss/components/_node-list.scss
  packages/lazarus-shared/scss/components/_node.scss
  packages/lazarus-shared/scss/components/_page-attribution.scss
  packages/lazarus-shared/scss/components/_page-contents.scss
  packages/lazarus-shared/scss/components/_page-dates.scss
  packages/lazarus-shared/scss/components/_page-grid.scss
  packages/lazarus-shared/scss/components/_page-with-rail.scss
  packages/lazarus-shared/scss/components/_page-wrapper.scss
  packages/lazarus-shared/scss/components/_page.scss
  packages/lazarus-shared/scss/components/_site-menu.scss
  packages/lazarus-shared/scss/components/_site-navbar.scss
  packages/lazarus-shared/scss/components/flows/_card-deck.scss
  packages/lazarus-shared/scss/components/flows/_hero.scss
  packages/lazarus-shared/theme.scss
Labels: 🌐 site: ALL

#213 Update dependencies from base-cms
  package.json
  packages/informa-gam/package.json
  packages/informa-redirects/package.json
  packages/lazarus-shared/package.json
  packages/leaders/package.json
  packages/site-setup/package.json
  services/gam/package.json
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#214 Disable lazyload config on ED and MWRF
  sites/electronicdesign.com/config/site.js
  sites/mwrf.com/config/site.js
Labels: 🌐 site: electronicdesign.com, 🌐 site: mwrf.com

#215 Layout Revisions
  packages/lazarus-shared/scss/components/_page-with-rail.scss
  packages/lazarus-shared/templates/index.marko
Labels: 🌐 site: ALL

#217 Remove page-with-rail settings from informa repo
  packages/lazarus-shared/components/page-wrappers/content/default.marko
  packages/lazarus-shared/components/page-wrappers/website-section/default.marko
  packages/lazarus-shared/scss/_components.scss
  packages/lazarus-shared/scss/components/_page-grid.scss
  packages/lazarus-shared/scss/components/_page-with-rail.scss
  packages/lazarus-shared/templates/index.marko
Labels: 🌐 site: ALL

#220 Prevent left-rail ad requests when screen size is < 1068px
  packages/informa-gam/components/adunit.marko
  packages/informa-gam/components/marko.json
  packages/informa-gam/package.json
  packages/lazarus-shared/components/blocks/global-left-rail.marko
  packages/lazarus-shared/package.json
  yarn.lock
Labels: 🌐 site: ALL

#221 Update FO Magazine href
  sites/fleetowner.com/config/navigation.js
Labels: 🌐 site: fleetowner.com

#222 Remove `native_article_4` gam position from section pages
  packages/lazarus-shared/components/page-wrappers/website-section/default.marko
Labels: service: gam, 🌐 site: ALL

#223 Exclude banner ads on ED promotion content type
  packages/lazarus-shared/templates/content/index.marko
Labels: 🌐 site: electronicdesign.com

#224 Update “Market” to “Marketing” in secondary nav
  sites/ewweb.com/config/navigation.js
Labels: 🌐 site: ewweb.com

#225 Homepage block rearrangements
  sites/electronicdesign.com/config/site.js
  sites/mwrf.com/config/site.js
Labels: 🌐 site: electronicdesign.com, 🌐 site: mwrf.com

#227 Update digital edition links in navigation.js
  sites/asumag.com/config/navigation.js
  sites/contractingbusiness.com/config/navigation.js
  sites/contractormag.com/config/navigation.js
  sites/ecmweb.com/config/navigation.js
Labels: 🌐 site: asumag.com, 🌐 site: contractingbusiness.com, 🌐 site: contractormag.com, 🌐 site: ecmweb.com

#228 Disable lazy load on NED
  sites/newequipment.com/config/site.js
Labels: 🌐 site: newequipment.com

#229 Various navigation updates
  sites/asumag.com/config/navigation.js
  sites/contractingbusiness.com/config/navigation.js
  sites/electricalmarketing.com/config/navigation.js
  sites/electronicdesign.com/config/navigation.js
  sites/hydraulicspneumatics.com/config/navigation.js
  sites/industryweek.com/config/navigation.js
  sites/machinedesign.com/config/navigation.js
  sites/newequipment.com/config/navigation.js
  sites/sourcetoday.com/config/navigation.js
  sites/trucker.com/config/navigation.js
Labels: 🌐 site: asumag.com, 🌐 site: contractingbusiness.com, 🌐 site: electricalmarketing.com, 🌐 site: hydraulicspneumatics.com, 🌐 site: industryweek.com, 🌐 site: machinedesign.com, 🌐 site: newequipment.com, 🌐 site: sourcetoday.com, 🌐 site: trucker.com

#230 Enable Leaders on H&P
  packages/leaders/scss/index-page.scss
  sites/hydraulicspneumatics.com/config/leaders.js
  sites/hydraulicspneumatics.com/config/site.js
  sites/hydraulicspneumatics.com/server/styles/index.scss
Labels: 🌐 site: hydraulicspneumatics.com
