Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2020-06, with the labels that each got.

#159 Setup /magazines
  packages/lazarus-shared/components.js
  packages/lazarus-shared/components/blocks/magazine-latest-issue.marko
  packages/lazarus-shared/components/blocks/magazine-publications.marko
  packages/lazarus-shared/components/blocks/marko.json
  packages/lazarus-shared/components/flows/magazine-issue-archive.marko
  packages/lazarus-shared/components/flows/magazine-latest-issue.marko
  packages/lazarus-shared/components/flows/marko.json
  packages/lazarus-shared/components/nodes/magazine-issue-archive.marko
  packages/lazarus-shared/components/nodes/magazine-latest-issue.marko
  packages/lazarus-shared/components/nodes/marko.json
  packages/lazarus-shared/fragments.js
  packages/lazarus-shared/graphql/fragments/magazine-issue-archive.js
  packages/lazarus-shared/graphql/fragments/magazine-issue-page.js
  packages/lazarus-shared/graphql/fragments/magazine-latest-issue.js
  packages/lazarus-shared/graphql/fragments/magazine-publication-list.js
  packages/lazarus-shared/graphql/fragments/magazine-publication-page.js
  packages/lazarus-shared/routes/index.js
  packages/lazarus-shared/routes/magazine.js
  packages/lazarus-shared/templates/magazine/index.marko
  packages/lazarus-shared/templates/magazine/issue.marko
  packages/lazarus-shared/templates/magazine/publication.marko
  sites/contractormag.com/config/navigation.js
  sites/contractormag.com/config/site.js
Labels: 🌐 site: ALL

#161 Add whitepapers to nav
  sites/ewweb.com/config/navigation.js
Labels: 🌐 site: ewweb.com

#162 Upgrade @base-cms dependencies to 1.29.3
  packages/lazarus-shared/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#163 Upgrade @base-cms dependencies to 1.29.4
  packages/lazarus-shared/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL

#165 Set magazine description for TDW
  sites/tdworld.com/config/site.js
Labels: 🌐 site: tdworld.com

#164 Set correct component name for issue archive
  packages/lazarus-shared/templates/magazine/publication.marko
Labels: 🌐 site: ALL

#167 Fixed newsletter dragon form
  sites/electricalmarketing.com/config/dragon-forms.js
Labels: 🌐 site: electricalmarketing.com

#168 GAM lazy loading
  packages/informa-gam/package.json
  packages/lazarus-shared/components/document.marko
  packages/lazarus-shared/package.json
  sites/electronicdesign.com/config/site.js
  yarn.lock
Labels: 🌐 site: ALL, 🌐 site: electronicdesign.com
