Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2020-08, with the labels that each got.

#183 Update layout of recommended block & adjust css accordingly
  packages/lazarus-shared/components/blocks/home-page-hero-with-recommended.marko
  packages/lazarus-shared/components/page-wrappers/website-section/default.marko
  packages/lazarus-shared/theme.scss
Labels: 🌐 site: industryweek.com

#181 Style updates to magazine pages on informa sites
  packages/lazarus-shared/scss/_magazine.scss
  packages/lazarus-shared/templates/magazine/index.marko
  packages/lazarus-shared/templates/magazine/issue.marko
  packages/lazarus-shared/templates/magazine/publication.marko
  packages/lazarus-shared/theme.scss
Labels: 🌐 site: ALL

#189 Correct /advertise link in hamburger nav
  sites/electronicdesign.com/config/navigation.js
Labels: 🌐 site: electronicdesign.com

#190 Update ‘Back Issues’ link in site menu
  sites/contractormag.com/config/navigation.js
Labels: 🌐 site: contractormag.com

#191 Upgrade @base-cms dependencies to 1.34.0
  packages/informa-gam/package.json
  packages/informa-redirects/package.json
  packages/lazarus-shared/package.json
  packages/leaders/package.json
  packages/site-setup/package.json
  services/gam/package.json
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: dependencies, 🌐 site: ALL
