Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2020-04, with the labels that each got.

#129 Add COVID-19 to menu
  sites/electricalmarketing.com/config/navigation.js
Labels: 🌐 site: electricalmarketing.com

#130 Rename “Careers” to “Careers & Jobs”
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: tdworld.com

#131 Update Resource navigation link
  sites/electronicdesign.com/config/navigation.js
Labels: 🌐 site: electronicdesign.com

#132 Updated advertise links in legacy informa sites
  sites/americanmachinist.com/config/navigation.js
  sites/asumag.com/config/navigation.js
  sites/bulktransporter.com/config/navigation.js
  sites/contractingbusiness.com/config/navigation.js
  sites/contractormag.com/config/navigation.js
  sites/ecmweb.com/config/navigation.js
  sites/ehstoday.com/config/navigation.js
  sites/electronicdesign.com/config/navigation.js
  sites/ewweb.com/config/navigation.js
  sites/fleetowner.com/config/navigation.js
  sites/forgingmagazine.com/config/navigation.js
  sites/foundrymag.com/config/navigation.js
  sites/hpac.com/config/navigation.js
  sites/hydraulicspneumatics.com/config/navigation.js
  sites/industryweek.com/config/navigation.js
  sites/machinedesign.com/config/navigation.js
  sites/mhlnews.com/config/navigation.js
  sites/mwrf.com/config/navigation.js
  sites/newequipment.com/config/navigation.js
  sites/powerelectronics.com/config/navigation.js
  sites/refrigeratedtransporter.com/config/navigation.js
  sites/rermag.com/config/navigation.js
  sites/sourcetoday.com/config/navigation.js
  sites/tdworld.com/config/navigation.js
  sites/trailer-bodybuilders.com/config/navigation.js
  sites/trucker.com/config/navigation.js
  sites/truckfleetmro.com/config/navigation.js
Labels: 🌐 site: ALL

#133 Upgrade @base-cms dependencies to 1.25.11
  packages/informa-gam/package.json
  packages/lazarus-shared/package.json
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#135 Update Resources link to /page/resources
  sites/mwrf.com/config/navigation.js
Labels: 🌐 site: mwrf.com

#136 Add event links to secondary navs
  sites/americanmachinist.com/config/navigation.js
  sites/ehstoday.com/config/navigation.js
  sites/industryweek.com/config/navigation.js
  sites/machinedesign.com/config/navigation.js
  sites/mhlnews.com/config/navigation.js
  sites/newequipment.com/config/navigation.js
Labels: 🌐 site: americanmachinist.com, 🌐 site: ehstoday.com, 🌐 site: industryweek.com, 🌐 site: machinedesign.com, 🌐 site: mhlnews.com, 🌐 site: newequipment.com

#134 Update homepage block and nav for covid-19
  sites/industryweek.com/config/navigation.js
  sites/industryweek.com/config/site.js
Labels: 🌐 site: industryweek.com

#138 Add Covid 19 link to secondary nav
  sites/ehstoday.com/config/navigation.js
  sites/mhlnews.com/config/navigation.js
Labels: 🌐 site: ehstoday.com, 🌐 site: mhlnews.com

#137 Update menu navigation links
  sites/electricalmarketing.com/config/navigation.js
Labels: 🌐 site: electricalmarketing.com

#139 Moved new link to the top of the menus on MHL, EHS
  sites/ehstoday.com/config/navigation.js
  sites/mhlnews.com/config/navigation.js
Labels: 🌐 site: ehstoday.com, 🌐 site: mhlnews.com

#140 Add query to enl sub form on article templates
  sites/americanmachinist.com/config/dragon-forms.js
  sites/americanmachinist.com/config/site.js
  sites/asumag.com/config/dragon-forms.js
  sites/asumag.com/config/site.js
  sites/bulktransporter.com/config/dragon-forms.js
  sites/bulktransporter.com/config/site.js
  sites/contractingbusiness.com/config/dragon-forms.js
  sites/contractingbusiness.com/config/site.js
  sites/contractormag.com/config/dragon-forms.js
  sites/contractormag.com/config/site.js
  sites/ecmweb.com/config/dragon-forms.js
  sites/ecmweb.com/config/site.js
  sites/ehstoday.com/config/dragon-forms.js
  sites/ehstoday.com/config/site.js
  sites/electricalmarketing.com/config/dragon-forms.js
  sites/electricalmarketing.com/config/site.js
  sites/electronicdesign.com/config/dragon-forms.js
  sites/electronicdesign.com/config/site.js
  sites/ewweb.com/config/dragon-forms.js
  sites/ewweb.com/config/site.js
  sites/fleetowner.com/config/dragon-forms.js
  sites/fleetowner.com/config/site.js
  sites/forgingmagazine.com/config/dragon-forms.js
  sites/forgingmagazine.com/config/site.js
  sites/foundrymag.com/config/dragon-forms.js
  sites/foundrymag.com/config/site.js
  sites/hpac.com/config/dragon-forms.js
  sites/hpac.com/config/site.js
  sites/hydraulicspneumatics.com/config/dragon-forms.js
  sites/hydraulicspneumatics.com/config/site.js
  sites/industryweek.com/config/dragon-forms.js
  sites/industryweek.com/config/site.js
  sites/machinedesign.com/config/dragon-forms.js
  sites/machinedesign.com/config/site.js
  sites/mhlnews.com/config/dragon-forms.js
  sites/mhlnews.com/config/site.js
  sites/mwrf.com/config/dragon-forms.js
  sites/mwrf.com/config/site.js
  sites/newequipment.com/config/dragon-forms.js
  sites/newequipment.com/config/site.js
  sites/powerelectronics.com/config/dragon-forms.js
  sites/powerelectronics.com/config/site.js
  sites/refrigeratedtransporter.com/config/dragon-forms.js
  sites/refrigeratedtransporter.com/config/site.js
  sites/rermag.com/config/dragon-forms.js
  sites/rermag.com/config/site.js
  sites/sourcetoday.com/config/dragon-forms.js
  sites/sourcetoday.com/config/site.js
  sites/tdworld.com/config/dragon-forms.js
  sites/tdworld.com/config/site.js
  sites/trailer-bodybuilders.com/config/dragon-forms.js
  sites/trailer-bodybuilders.com/config/site.js
  sites/trucker.com/config/dragon-forms.js
  sites/trucker.com/config/site.js
  sites/truckfleetmro.com/config/dragon-forms.js
  sites/truckfleetmro.com/config/site.js
Labels: 🌐 site: ALL

#144 Update navigation
  sites/electronicdesign.com/config/navigation.js
Labels: 🌐 site: electronicdesign.com

#143 Update hamburger nav dragon forms reference
  sites/americanmachinist.com/config/navigation.js
  sites/asumag.com/config/navigation.js
  sites/bulktransporter.com/config/navigation.js
  sites/contractingbusiness.com/config/navigation.js
  sites/contractormag.com/config/navigation.js
  sites/ecmweb.com/config/navigation.js
  sites/ehstoday.com/config/navigation.js
  sites/electricalmarketing.com/config/navigation.js
  sites/electronicdesign.com/config/navigation.js
  sites/ewweb.com/config/navigation.js
  sites/fleetowner.com/config/navigation.js
  sites/forgingmagazine.com/config/navigation.js
  sites/foundrymag.com/config/navigation.js
  sites/hpac.com/config/navigation.js
  sites/hydraulicspneumatics.com/config/navigation.js
  sites/industryweek.com/config/navigation.js
  sites/machinedesign.com/config/navigation.js
  sites/mhlnews.com/config/navigation.js
  sites/mwrf.com/config/navigation.js
  sites/newequipment.com/config/navigation.js
  sites/powerelectronics.com/config/navigation.js
  sites/refrigeratedtransporter.com/config/navigation.js
  sites/rermag.com/config/navigation.js
  sites/sourcetoday.com/config/navigation.js
  sites/tdworld.com/config/navigation.js
  sites/trailer-bodybuilders.com/config/navigation.js
  sites/trucker.com/config/navigation.js
  sites/truckfleetmro.com/config/navigation.js
Labels: 🌐 site: ALL

#145 Upgrade @base-cms dependencies to 1.27.0
  packages/informa-gam/package.json
  packages/lazarus-shared/package.json
  sites/americanmachinist.com/package.json
  sites/asumag.com/package.json
  sites/bulktransporter.com/package.json
  sites/contractingbusiness.com/package.json
  sites/contractormag.com/package.json
  sites/ecmweb.com/package.json
  sites/ehstoday.com/package.json
  sites/electricalmarketing.com/package.json
  sites/electronicdesign.com/package.json
  sites/ewweb.com/package.json
  sites/fleetowner.com/package.json
  sites/forgingmagazine.com/package.json
  sites/foundrymag.com/package.json
  sites/hpac.com/package.json
  sites/hydraulicspneumatics.com/package.json
  sites/industryweek.com/package.json
  sites/machinedesign.com/package.json
  sites/mhlnews.com/package.json
  sites/mwrf.com/package.json
  sites/newequipment.com/package.json
  sites/powerelectronics.com/package.json
  sites/refrigeratedtransporter.com/package.json
  sites/rermag.com/package.json
  sites/sourcetoday.com/package.json
  sites/tdworld.com/package.json
  sites/trailer-bodybuilders.com/package.json
  sites/trucker.com/package.json
  sites/truckfleetmro.com/package.json
  yarn.lock
Labels: 🌐 site: ALL

#146 Remove ‘Ad Choices’ links from navs
  sites/asumag.com/config/navigation.js
  sites/contractingbusiness.com/config/navigation.js
  sites/contractormag.com/config/navigation.js
  sites/ecmweb.com/config/navigation.js
  sites/electricalmarketing.com/config/navigation.js
  sites/ewweb.com/config/navigation.js
  sites/hpac.com/config/navigation.js
  sites/rermag.com/config/navigation.js
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: asumag.com, 🌐 site: contractingbusiness.com, 🌐 site: contractormag.com, 🌐 site: ecmweb.com, 🌐 site: electricalmarketing.com, 🌐 site: ewweb.com, 🌐 site: hpac.com, 🌐 site: rermag.com, 🌐 site: tdworld.com
