Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2020-07, with the labels that each got.

#169 Update Resources menu items
  sites/mwrf.com/config/navigation.js
Labels: 🌐 site: mwrf.com

#170 Update advertise footer link
  sites/fleetowner.com/config/navigation.js
Labels: 🌐 site: fleetowner.com

#171 Enable Lazy Load Ads
  sites/ehstoday.com/config/site.js
  sites/ewweb.com/config/site.js
Labels: 🌐 site: ehstoday.com, 🌐 site: electronicdesign.com

#172 Add LinkedIn to site footer
  sites/rermag.com/config/site.js
Labels: 🌐 site: rermag.com

#177 Update nav link for digital mag of EWW
  sites/ewweb.com/config/navigation.js
Labels: 🌐 site: ewweb.com

#179 Setup /leaders for AM
  sites/americanmachinist.com/config/leaders.js
  sites/americanmachinist.com/config/site.js
  sites/americanmachinist.com/server/styles/index.scss
Labels: 🌐 site: americanmachinist.com

#180 Removed ‘Content Licensing’ links from nav lists
  sites/ehstoday.com/config/navigation.js
  sites/electronicdesign.com/config/navigation.js
  sites/forgingmagazine.com/config/navigation.js
  sites/foundrymag.com/config/navigation.js
  sites/hydraulicspneumatics.com/config/navigation.js
  sites/industryweek.com/config/navigation.js
  sites/machinedesign.com/config/navigation.js
  sites/mhlnews.com/config/navigation.js
  sites/mwrf.com/config/navigation.js
  sites/newequipment.com/config/navigation.js
  sites/powerelectronics.com/config/navigation.js
  sites/sourcetoday.com/config/navigation.js
Labels: 🌐 site: ehstoday.com, 🌐 site: electronicdesign.com, 🌐 site: forgingmagazine.com, 🌐 site: foundrymag.com, 🌐 site: hydraulicspneumatics.com, 🌐 site: industryweek.com, 🌐 site: machinedesign.com, 🌐 site: mhlnews.com, 🌐 site: mwrf.com, 🌐 site: newequipment.com, 🌐 site: powerelectronics.com, 🌐 site: sourcetoday.com

#178 Update MD ham nav menu
  sites/machinedesign.com/config/navigation.js
Labels: 🌐 site: machinedesign.com
