Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2021-03, with the labels that each got.

#266 Add ‘Top Stories’ link to ED and MWRF
  sites/electronicdesign.com/config/navigation.js
  sites/mwrf.com/config/navigation.js
Labels: 🌐 site: electronicdesign.com, 🌐 site: mwrf.com

#267 Setup Leaders config for MachineDesign
  sites/machinedesign.com/config/leaders.js
  sites/machinedesign.com/config/site.js
Labels: 🌐 site: machinedesign.com

#268 Update title and description for MD leaders
  sites/machinedesign.com/config/leaders.js
Labels: 🌐 site: machinedesign.com

#269 Update `content/print.marko`
  packages/lazarus-shared/templates/content/print.marko
Labels: bug, 🌐 site: ALL

#270 Enable Leaders on MWRF
  sites/mwrf.com/config/leaders.js
  sites/mwrf.com/config/site.js
Labels: 🌐 site: mwrf.com

#271 Add “Company Directory” to site menu
  sites/machinedesign.com/config/navigation.js
Labels: 🌐 site: machinedesign.com

#272 Update site menu
  sites/mwrf.com/config/navigation.js
Labels: 🌐 site: mwrf.com
