Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2021-02, with the labels that each got.

#255 Add menu items to TDWorld & EHS
  sites/ehstoday.com/config/navigation.js
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: ehstoday.com, 🌐 site: tdworld.com

#256 Site menu updates
  sites/ecmweb.com/config/navigation.js
  sites/electronicdesign.com/config/navigation.js
  sites/fleetowner.com/config/navigation.js
  sites/hpac.com/config/navigation.js
  sites/industryweek.com/config/navigation.js
  sites/machinedesign.com/config/navigation.js
Labels: 🌐 site: ecmweb.com, 🌐 site: electronicdesign.com, 🌐 site: fleetowner.com, 🌐 site: hpac.com, 🌐 site: industryweek.com, 🌐 site: machinedesign.com

#258 Site menu updates
  sites/electronicdesign.com/config/navigation.js
  sites/fleetowner.com/config/navigation.js
  sites/machinedesign.com/config/navigation.js
  sites/mwrf.com/config/navigation.js
  sites/rermag.com/config/navigation.js
  sites/tdworld.com/config/navigation.js
  sites/trucker.com/config/navigation.js
Labels: 🌐 site: electronicdesign.com, 🌐 site: fleetowner.com, 🌐 site: machinedesign.com, 🌐 site: mwrf.com, 🌐 site: rermag.com, 🌐 site: tdworld.com, 🌐 site: trucker.com

#260 Color updates for commercial vehicle group (CVG)
  sites/fleetmaintenance.com/server/styles/index.scss
  sites/fleetowner.com/server/styles/index.scss
  sites/trailer-bodybuilders.com/server/styles/index.scss
  sites/trucker.com/server/styles/index.scss
Labels: 🌐 site: fleetmaintenance.com, 🌐 site: fleetowner.com, 🌐 site: trailer-bodybuilders.com, 🌐 site: trucker.com

#261 Added skip to company page load more
  packages/lazarus-shared/components/blocks/company-page-load-more.marko
Labels: 🌐 site: ALL

#257 Require `regionCode` and `countryCode` on IdentityX login
  packages/lazarus-shared/identity-x.js
  packages/lazarus-shared/package.json
  yarn.lock
Labels: 🌐 site: ALL

#262 Bug fix for /magazines buttons
  packages/lazarus-shared/components/blocks/magazine-publications.marko
  packages/lazarus-shared/scss/_magazine.scss
Labels: 🌐 site: ALL

#263 Nav update for TD World
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: tdworld.com

#264 Update path for NATE mag on ContractorMag.com
  sites/contractormag.com/config/navigation.js
Labels: 🌐 site: contractormag.com

#265 Add “Members Only” header to content with label
  packages/lazarus-shared/components/nodes/content-card.marko
  packages/lazarus-shared/components/nodes/content-list.marko
  packages/lazarus-shared/components/nodes/content-page-card.marko
  packages/lazarus-shared/components/nodes/marko.json
  packages/lazarus-shared/templates/content/print.marko
Labels: 🌐 site: ALL
