Repository cygnusb2b/informa-business-intelligence, pull requests merged in 2021-05, with the labels that each got.

#283 Update dragonform URI
  sites/refrigeratedtransporter.com/config/dragon-forms.js
Labels: 🌐 site: tdworld.com

#282 Update tdw site menu
  sites/tdworld.com/config/navigation.js
Labels: 🌐 site: tdworld.com

#281 Disable lazy load on MD
  sites/machinedesign.com/config/site.js
Labels: 🌐 site: machinedesign.com

#284 Site menu updates
  sites/americanmachinist.com/config/navigation.js
  sites/rermag.com/config/navigation.js
Labels: 🌐 site: americanmachinist.com, 🌐 site: rermag.com

#285 Added Omeda Iframe component
  packages/lazarus-shared/browser/index.js
  packages/lazarus-shared/browser/load-omeda-iframes.vue
  packages/lazarus-shared/components/elements/content-body.marko
  packages/lazarus-shared/components/load-omeda-iframes.marko
  packages/lazarus-shared/components/marko.json
  packages/lazarus-shared/templates/dynamic-page/index.marko
  packages/lazarus-shared/theme.scss
Labels: enhancement, 🌐 site: ALL
